.app {
  max-width: 500px;
  margin: 0px auto;
}
h1{
  font-size: 40px;
  color: #000000;
  margin-bottom: 30px;
}

.form-item {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
}

input {
  font-size: 30px;
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}